/* app css stylesheet */
@import "bower_components/angular-bootstrap/ui-bootstrap-csp.css";
@import "bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css";
@import "bower_components/font-awesome/css/font-awesome.min.css";
html {
  background-color: #EEE;
}
.stick {
  position: fixed;
  top: 0;
}
.half {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  /* IE6 */
  zoom: 1;
}
*:first-child + html .clearfix {
  /* IE7 */
  zoom: 1;
}
/* import */
.at-version {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #AAA;
  padding: 5px;
}
.highlight {
  background-color: #FFFF66;
}
.img-kit .launcher {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}
.img-kit .launcher .fa {
  margin: 5px;
  font-size: 30px;
  color: black;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid #AAA;
  margin: 0;
  padding: 10px;
  background-color: #999;
}
.menu a.selected {
  color: red;
}
.menu > li {
  display: inline;
  margin: 0 10px;
}
.spinner {
  display: inline-block;
  width: 50px;
  height: 20px;
  font-size: 20px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  margin: 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
input.dbpedia-search-input {
  padding: 5px;
  margin: 0 0 0 15px;
}
.dbpedia-bio-species-bg h1 {
  padding: 10px 20px 0 0;
  text-align: center;
  color: #333;
}
.dbpedia-bio-species {
  border-radius: 5px;
  background-color: #fdfdfd;
  margin: 10px;
  padding-bottom: 20px;
}
.dbpedia-bio-species:first {
  margin-top: 5px;
}
.dbpedia-bio-species .name {
  margin-left: 20px;
}
.dbpedia-bio-species img {
  width: 100%;
  margin-bottom: 10px;
}
.dbpedia-bio-species .taxonomy {
  width: 40%;
  float: left;
  box-sizing: border-box;
}
.dbpedia-bio-species .taxonomy tr td:first-child {
  color: #CCC;
  padding-right: 10px;
  text-align: right;
}
.dbpedia-bio-species .abstract {
  width: 60%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}
.dbpedia-query-area {
  font-size: 10px;
  height: 500px;
  resize: none;
}
.at-world-map path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.at-world-map path.red {
  fill: red;
}
.window-wrap {
  width: 300px;
}
.window-wrap .controls {
  width: 100%;
  height: 32px;
  background-color: #AAA;
}
.window-wrap .controls button {
  margin: 2px;
  float: right;
}
.window-wrap .content {
  background-color: #F2F2F2;
  clear: both;
}
.elem-notate .lites {
  position: absolute;
}
.elem-notate .lites .lite {
  position: relative;
  opacity: 0.5;
}
.elem-notate .lites .lite:hover {
  opacity: 1;
}
.specierch .controls {
  padding: 0 20px;
  width: 100%;
  background-color: #EEE;
}
/* third-party css */
