/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.half {
  float: left;
  width: 50%;
  box-sizing: border-box;
}


/* clearfix */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix { /* IE6 */
  zoom: 1; 
}

*:first-child+html .clearfix { /* IE7 */
  zoom: 1; 
}


/* import */

@import "lib/**/*";