/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.half {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  /* IE6 */
  zoom: 1;
}
*:first-child + html .clearfix {
  /* IE7 */
  zoom: 1;
}
/* import */
input.dbpedia-search-input {
  padding: 5px;
}
.dbpedia-bio-species {
  background-color: #fdfdfd;
  margin-bottom: 5px;
  padding-bottom: 20px;
}
.dbpedia-bio-species .name {
  margin-left: 10px;
}
.dbpedia-bio-species img {
  width: 100%;
  margin-bottom: 10px;
}
.dbpedia-bio-species .taxonomy {
  width: 33%;
  float: left;
  box-sizing: border-box;
}
.dbpedia-bio-species .taxonomy tr td:first-child {
  padding-right: 10px;
  text-align: right;
}
.dbpedia-bio-species .abstract {
  width: 66%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}
.dbpedia-query-area {
  font-size: 10px;
  height: 500px;
  resize: none;
}
