/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0;
}
.menu > li {
  display: inline;
}
.menu > li:before {
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.half {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  /* IE6 */
  zoom: 1;
}
*:first-child + html .clearfix {
  /* IE7 */
  zoom: 1;
}
/* import */
.at-owner {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #AAA;
  padding: 5px;
}
input.dbpedia-search-input {
  padding: 5px;
}
.dbpedia-bio-species-bg {
  background-color: #333;
}
.dbpedia-bio-species-bg h1 {
  padding: 10px 20px 0 0;
  text-align: right;
  color: #FF6666;
}
.dbpedia-bio-species {
  border-radius: 5px;
  background-color: #fdfdfd;
  margin: 10px;
  padding-bottom: 20px;
}
.dbpedia-bio-species:first {
  margin-top: 5px;
}
.dbpedia-bio-species .name {
  margin-left: 20px;
}
.dbpedia-bio-species img {
  width: 100%;
  margin-bottom: 10px;
}
.dbpedia-bio-species .taxonomy {
  width: 40%;
  float: left;
  box-sizing: border-box;
}
.dbpedia-bio-species .taxonomy tr td:first-child {
  color: #CCC;
  padding-right: 10px;
  text-align: right;
}
.dbpedia-bio-species .abstract {
  width: 60%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}
.dbpedia-query-area {
  font-size: 10px;
  height: 500px;
  resize: none;
}
.at-world-map path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.at-world-map path.red {
  fill: red;
}
